Repository open-energy-transition/openmod-features: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-yaml-schemas, validate-md-links, validate-yaml-links

validate-yaml-schemas:
  name: Validate YAML schemas
  entry: pixi run python .pre-commit-hooks/validate-yaml-schemas.py
  language: system
  pass_filenames: true

validate-md-links:
  name: Validate links in markdown files
  entry: pixi run lychee --verbose
  language: system
  pass_filenames: true

validate-yaml-links:
  name: Validate links in YAML feature files
  entry: pixi run lychee --verbose
  language: system
  pass_filenames: true

Move validation links into evidence drawer
  website/src/components/status-cells.tsx
  website/src/components/table.tsx
  website/src/routes/tools.tsx
  website/src/routes/use-cases.tsx
  website/src/styles.css
Due: none

Improve dashboard responsive navigation
  website/src/components/dashboard-layout.tsx
  website/src/styles.css
Due: none

Simplify dashboard homepage preamble
  website/src/components/dashboard-layout.tsx
  website/src/components/ui.tsx
  website/src/routes/index.tsx
  website/src/styles.css
Due: none

Add contribution links to project preamble
  website/src/components/dashboard-layout.tsx
  website/src/routes/index.tsx
  website/src/styles.css
Due: none

Unify builder starting point tabs
  website/src/routes/builder.tsx
Due: none

Enhance dashboard visual system
  website/src/components/dashboard-layout.tsx
  website/src/components/ui.tsx
  website/src/routes/index.tsx
  website/src/styles.css
Due: none

Support multi-tool dashboard filters
  website/src/components/dashboard-layout.tsx
  website/src/components/table.tsx
  website/src/routes/tools.tsx
  website/src/routes/use-cases.tsx
  website/src/styles.css
Due: none

Refine light dashboard background
  website/src/styles.css
Due: none

Flatten dark dashboard theme
  website/src/styles.css
Due: none

Refine overview metrics and use-case filtering
  website/src/components/dashboard-layout.tsx
  website/src/routes/index.tsx
  website/src/routes/use-cases.tsx
Due: none

Reuse compliance; add website pixi env and task
  .pre-commit-config.yaml
  REUSE.toml
  pixi.lock
  pixi.toml
  website/CLOUDFLARE.md
  website/pnpm-workspace.yaml
  website/public/data/features.json
  website/scripts/export-static.mjs
  website/scripts/generate-data.mjs
  website/src/components/dashboard-layout.tsx
  website/src/components/page-shell.tsx
  website/src/components/status-cells.tsx
  website/src/components/table.tsx
  website/src/components/ui.tsx
  website/src/data/coverage.ts
  website/src/data/custom-use-case.ts
  website/src/data/types.ts
  website/src/data/useDashboardData.ts
  website/src/routeTree.gen.ts
  website/src/router.tsx
  website/src/routes/__root.tsx
  website/src/routes/builder.tsx
  website/src/routes/index.tsx
  website/src/routes/tools.tsx
  website/src/routes/use-cases.tsx
  website/src/styles.css
  website/tests/coverage.test.ts
  website/vite.config.ts
  website/vitest.config.ts
  website/wrangler.jsonc
Due: validate-md-links

Track dashboard utility helpers
  .gitignore
  website/src/lib/dashboard-utils.ts
Due: none

Document dashboard local workflow
  README.md
Due: validate-md-links

Minor fixes
  REUSE.toml
  website/package.json
  website/public/data/features.json
  website/src/routeTree.gen.ts
Due: none

Regenerate dashboard data after schema updates
  website/public/data/features.json
Due: none

Align tool matrix overall coverage
  website/src/routes/tools.tsx
  website/tests/coverage.test.ts
Due: none

Revert "Align tool matrix overall coverage"
  website/src/routes/tools.tsx
  website/tests/coverage.test.ts
Due: none

Clarify tool matrix scoped coverage label
  website/src/routes/tools.tsx
Due: none

Split homepage and overview routes
  website/scripts/export-static.mjs
  website/src/components/dashboard-layout.tsx
  website/src/routeTree.gen.ts
  website/src/routes/index.tsx
  website/src/routes/overview.tsx
Due: none

Feat/feature gap dashboard (#121)
  .gitignore
  .pre-commit-config.yaml
  README.md
  REUSE.toml
  pixi.lock
  pixi.toml
  website/CLOUDFLARE.md
  website/package.json
  website/pnpm-lock.yaml
  website/pnpm-workspace.yaml
  website/public/_headers
  website/public/data/features.json
  website/scripts/export-static.mjs
  website/scripts/generate-data.mjs
  website/src/components/dashboard-layout.tsx
  website/src/components/page-shell.tsx
  website/src/components/status-cells.tsx
  website/src/components/table.tsx
  website/src/components/ui.tsx
  website/src/data/coverage.ts
  website/src/data/custom-use-case.ts
  website/src/data/types.ts
  website/src/data/useDashboardData.ts
  website/src/lib/dashboard-utils.ts
  website/src/routeTree.gen.ts
  website/src/router.tsx
  website/src/routes/__root.tsx
  website/src/routes/builder.tsx
  website/src/routes/index.tsx
  website/src/routes/tools.tsx
  website/src/routes/use-cases.tsx
  website/src/styles.css
  website/tests/coverage.test.ts
  website/tsconfig.json
  website/vite.config.ts
  website/vitest.config.ts
  website/wrangler.jsonc
Due: validate-md-links

Update and refactor based on yet another review
  CHANGELOG.md
  schema/features.yaml
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
  template/{% if list_type == 'tool' %}features.yaml{% endif %}.jinja
  template/{% if list_type == 'use-case' %}features.yaml{% endif %}.jinja
  tests/test_schema_generator.py
Due: validate-md-links

Redesign homepage as benchmark landing page
  website/src/components/dashboard-layout.tsx
  website/src/routes/index.tsx
  website/src/routes/tools.tsx
  website/src/styles.css
Due: none

Rename overview to about page
  website/scripts/export-static.mjs
  website/src/components/dashboard-layout.tsx
  website/src/routeTree.gen.ts
  website/src/routes/about.tsx
  website/src/routes/overview.tsx
Due: none

Tighten dashboard content hierarchy
  website/src/components/dashboard-layout.tsx
  website/src/routes/about.tsx
  website/src/routes/builder.tsx
  website/src/routes/index.tsx
  website/src/routes/tools.tsx
  website/src/routes/use-cases.tsx
Due: none

Move project purpose to homepage snapshot
  website/src/components/dashboard-layout.tsx
  website/src/routes/about.tsx
Due: none

Add taxonomy and default use-case tool matrix scopes
  website/src/routes/index.tsx
  website/src/routes/tools.tsx
Due: none

Keep coverage rules visible while scrolling
  website/src/components/dashboard-layout.tsx
  website/src/styles.css
Due: none

Align language to use conditionals for features
  schema/features.yaml
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
Due: none

Respond to review
  schema/features.yaml
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
  template/{% if list_type == 'tool' %}features.yaml{% endif %}.jinja
  template/{% if list_type == 'use-case' %}features.yaml{% endif %}.jinja
Due: none

Improve responsive homepage charts
  website/src/components/dashboard-layout.tsx
  website/src/components/ui.tsx
  website/src/routes/index.tsx
  website/src/styles.css
Due: none

Revert variable fidelity; add detail
  CHANGELOG.md
  schema/features.yaml
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
  template/{% if list_type == 'tool' %}features.yaml{% endif %}.jinja
  template/{% if list_type == 'use-case' %}features.yaml{% endif %}.jinja
Due: validate-md-links

Update and refactor based on yet another review (#130)
  CHANGELOG.md
  schema/features.yaml
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
  template/{% if list_type == 'tool' %}features.yaml{% endif %}.jinja
  template/{% if list_type == 'use-case' %}features.yaml{% endif %}.jinja
  tests/test_schema_generator.py
Due: validate-md-links

Add feature specificity; reorganise groups.
  CHANGELOG.md
  CONTRIBUTING.md
  schema/features.yaml
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
  template/{% if list_type == 'tool' %}features.yaml{% endif %}.jinja
  template/{% if list_type == 'use-case' %}features.yaml{% endif %}.jinja
  tests/test_schema_generator.py
Due: validate-md-links

Add description
  tools/pypsa/.metadata.yml
Due: validate-yaml-links

Update PyPSA list to latest taxonomy
  .pre-commit-config.yaml
  tools/pypsa/.metadata.yml
  tools/pypsa/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Update cost/constraints "scopes" sections
  CHANGELOG.md
  CONTRIBUTING.md
  schema/features.yaml
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
  template/{% if list_type == 'tool' %}features.yaml{% endif %}.jinja
  template/{% if list_type == 'use-case' %}features.yaml{% endif %}.jinja
  tests/test_schema_generator.py
Due: validate-md-links

Update against latest taxonomy
  tools/pypsa/.metadata.yml
  tools/pypsa/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Low-fidelity update of all tool and use-case lists to latest taxonomy
  tools/GenX/.metadata.yml
  tools/GenX/features.yaml
  tools/OSeMOSYS/.metadata.yml
  tools/OSeMOSYS/features.yaml
  tools/calliope/.metadata.yml
  tools/calliope/features.yaml
  tools/times/.metadata.yml
  tools/times/features.yaml
  use-cases/bidding_zone_review/.metadata.yml
  use-cases/bidding_zone_review/features.yaml
  use-cases/integrated_resource_planning/.metadata.yml
  use-cases/integrated_resource_planning/features.yaml
  use-cases/network_development_plan/.metadata.yml
  use-cases/network_development_plan/features.yaml
  use-cases/policy_target_setting/.metadata.yml
  use-cases/policy_target_setting/features.yaml
  use-cases/portfolio_plan/.metadata.yml
  use-cases/portfolio_plan/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Align feature specifity (#131)
  CHANGELOG.md
  CONTRIBUTING.md
  schema/features.yaml
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
  template/{% if list_type == 'tool' %}features.yaml{% endif %}.jinja
  template/{% if list_type == 'use-case' %}features.yaml{% endif %}.jinja
  tests/test_schema_generator.py
Due: validate-md-links

Shore up descriptions; refactor; move features.yaml up; reorganise branches
  .github/workflows/run-tests.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  features.yaml
  pixi.toml
  schema/features.yaml
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
  scripts/schema_generator.py
  template/{% if list_type == 'tool' %}features.yaml{% endif %}.jinja
  template/{% if list_type == 'use-case' %}features.yaml{% endif %}.jinja
  tests/test_schema_generator.py
  website/scripts/generate-data.mjs
Due: validate-md-links

Path conditions:
  validate-yaml-schemas: any of: ^(tools|use-cases)/.+/features\.yaml$
  validate-md-links: any of: \.md$
  validate-yaml-links: any of: ^(tools|use-cases)/.+/(features.yaml|.metadata.yml)$
