Repository open-energy-transition/openmod-features: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-yaml-schemas, validate-md-links, validate-yaml-links

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: openmod-features contributors
#
# SPDX-License-Identifier: CC0-1.0

default_language_version:
  python: python3

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [
          "--exclude-file=pixi.lock",
          "--skip=user_analysis/config/*.yaml",
          "--skip=inventory/*.yaml",
          "--skip=*.csv"
        ]

  - repo: https://github.com/fsfe/reuse-tool
    rev: v6.1.2
    hooks:
      - id: reuse-lint-file

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Check for debugger imports and py37+ breakpoint() calls
      - id: debug-statements
      - id: check-yaml
        args: [--unsafe]
      - id: check-merge-conflict
      - id: check-illegal-windows-names
      - id: check-added-large-files
        args: [--enforce-all --maxkb=1000]
      - id: trailing-whitespace
        exclude: "^tools/.+/(features.yaml|.metadata.yml)$"
      - id: end-of-file-fixer
        exclude: "^tools/.+/(features.yaml|.metadata.yml)$"

  - repo: local
    hooks:
      - id: validate-yaml-schemas
        name: Validate YAML schemas
        entry: pixi run python .pre-commit-hooks/validate-yaml-schemas.py
        language: system
        files: ^(tools|use-cases)/.+/features\.yaml$
        pass_filenames: true
      - id: validate-md-links
        name: Validate links in markdown files
        entry: pixi run lychee --verbose
        language: system
        files: \.md$
        pass_filenames: true
      - id: validate-yaml-links
        name: Validate links in YAML feature files
        entry: pixi run lychee --verbose
        language: system
        files: ^(tools|use-cases)/.+/(features.yaml|.metadata.yml)$
        pass_filenames: true

Always print CI check result
  .github/workflows/run-pre-commit.yml
Due: none

Try pretty printing
  .github/workflows/run-pre-commit.yml
Due: none

pre-run pre-commit install; fix unicode characters
  .github/workflows/run-pre-commit.yml
  .pre-commit-hooks/validate-yaml-schemas.py
  tests/test_validate_yaml_schemas.py
Due: none

Simplify tests
  tests/test_validate_yaml_schemas.py
Due: none

Actually install hooks
  .github/workflows/run-pre-commit.yml
Due: none

Use latest links
  tools/calliope/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

feat/add docs sections references
  tools/times/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

minor adjustments
  tools/pypsa/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Update tools/pypsa/features.yaml
  tools/pypsa/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Update PyPSA feature list Fixes #3
  tools/pypsa/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Update PyPSA feature list
  tools/pypsa/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

chore: Update CODEOWNERS from tool metadata
  .github/CODEOWNERS
Due: none

Add use-case assumptions
  use-cases/bidding_zone_review/features.yaml
  use-cases/integrated_resource_planning/features.yaml
  use-cases/network_development_plan/features.yaml
  use-cases/policy_target_setting/features.yaml
  use-cases/portfolio_plan/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Explicit workflow names in assumptions
  use-cases/bidding_zone_review/features.yaml
  use-cases/network_development_plan/features.yaml
  use-cases/portfolio_plan/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

PyPSA can do unit-representation of technology options
  tools/pypsa/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Update AUTHORS.md
  AUTHORS.md
Due: validate-md-links

fix OSeMOSYS: asset_outages
  tools/OSeMOSYS/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

update features
  tools/times/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Add governance, contribution, and code of conduct docs
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  GOVERNANCE.md
Due: validate-md-links

Add conflict of interest and mission statement
  GOVERNANCE.md
Due: validate-md-links

feat/update features
  tools/times/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Implement suggestion from Issue #54
  schema/features.yaml
  schema/schema.yaml
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
  template/{% if list_type == 'tool' %}features.yaml{% endif %}.jinja
  template/{% if list_type == 'use-case' %}features.yaml{% endif %}.jinja
  tools/OSeMOSYS/features.yaml
  tools/calliope/features.yaml
  tools/pypsa/features.yaml
  tools/times/features.yaml
  use-cases/bidding_zone_review/features.yaml
  use-cases/integrated_resource_planning/features.yaml
  use-cases/network_development_plan/features.yaml
  use-cases/policy_target_setting/features.yaml
  use-cases/portfolio_plan/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

execute pixi run update-schema
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
  template/{% if list_type == 'tool' %}features.yaml{% endif %}.jinja
  template/{% if list_type == 'use-case' %}features.yaml{% endif %}.jinja
Due: none

revert changes in tools and use-cases
  tools/OSeMOSYS/features.yaml
  tools/calliope/features.yaml
  tools/pypsa/features.yaml
  tools/times/features.yaml
  use-cases/bidding_zone_review/features.yaml
  use-cases/integrated_resource_planning/features.yaml
  use-cases/network_development_plan/features.yaml
  use-cases/policy_target_setting/features.yaml
  use-cases/portfolio_plan/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

add GenX metadata
  tools/GenX/.metadata.yml
  tools/GenX/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

add initial GenX features, incomplete
  tools/GenX/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Add GenX.jl (#56)
  tools/GenX/.metadata.yml
  tools/GenX/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

hotfix codeowners
  .github/CODEOWNERS
  tools/GenX/.metadata.yml
Due: validate-yaml-links

Update list maintainer help text; update PR template; add PR bot
  .github/pull_request_template.md
  .github/workflows/check-new-maintainers.yml
  copier.yml
Due: validate-md-links

hotfix codeowners (#58)
  .github/CODEOWNERS
  tools/GenX/.metadata.yml
Due: validate-yaml-links

implement Bryn suggestion
  schema/features.yaml
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
  template/{% if list_type == 'tool' %}features.yaml{% endif %}.jinja
  template/{% if list_type == 'use-case' %}features.yaml{% endif %}.jinja
Due: none

add examples (e.g. like this)
  schema/features.yaml
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
Due: none

fix spelling
  schema/features.yaml
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
Due: none

drop duplicates endogenous and exogenous
  schema/features.yaml
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
  template/{% if list_type == 'tool' %}features.yaml{% endif %}.jinja
  template/{% if list_type == 'use-case' %}features.yaml{% endif %}.jinja
Due: none

remove schema.yaml
  schema/schema.yaml
Due: none

Update changelog
  CHANGELOG.md
Due: validate-md-links
