Repository open-energy-transition/openmod-features: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-yaml-schemas, validate-md-links, validate-yaml-links

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: openmod-features contributors
#
# SPDX-License-Identifier: CC0-1.0

default_language_version:
  python: python3

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [
          "--exclude-file=pixi.lock",
          "--skip=user_analysis/config/*.yaml",
          "--skip=inventory/*.yaml",
          "--skip=*.csv"
        ]

  - repo: https://github.com/fsfe/reuse-tool
    rev: v6.1.2
    hooks:
      - id: reuse-lint-file

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Check for debugger imports and py37+ breakpoint() calls
      - id: debug-statements
      - id: check-yaml
        args: [--unsafe]
      - id: check-merge-conflict
      - id: check-illegal-windows-names
      - id: check-added-large-files
        args: [--enforce-all --maxkb=1000]
      - id: trailing-whitespace
        exclude: "^tools/.+/(features.yaml|.metadata.yml)$"
      - id: end-of-file-fixer
        exclude: "^tools/.+/(features.yaml|.metadata.yml)$"

  - repo: local
    hooks:
      - id: validate-yaml-schemas
        name: Validate YAML schemas
        entry: pixi run python .pre-commit-hooks/validate-yaml-schemas.py
        language: system
        files: ^(tools|use-cases)/.+/features\.yaml$
        pass_filenames: true
      - id: validate-md-links
        name: Validate links in markdown files
        entry: pixi run lychee --verbose
        language: system
        files: \.md$
        pass_filenames: true
      - id: validate-yaml-links
        name: Validate links in YAML feature files
        entry: pixi run lychee --verbose
        language: system
        files: ^(tools|use-cases)/.+/(features.yaml|.metadata.yml)$
        pass_filenames: true

Update dependencies
  pixi.lock
  pixi.toml
Due: none

Pre release fixes (#132)
  .github/workflows/run-tests.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  features.yaml
  pixi.lock
  pixi.toml
  schema/features.yaml
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
  scripts/schema_generator.py
  template/{% if list_type == 'tool' %}features.yaml{% endif %}.jinja
  template/{% if list_type == 'use-case' %}features.yaml{% endif %}.jinja
  tests/test_schema_generator.py
  website/scripts/generate-data.mjs
Due: validate-md-links

Bump version; add "version" key to tool feature list template
  CHANGELOG.md
  README.md
  pixi.toml
  schema/tool-schema.yaml
  scripts/schema_generator.py
  template/{% if list_type == 'tool' %}features.yaml{% endif %}.jinja
  tests/test_schema_generator.py
Due: validate-md-links

Bump version; add "version" key to tool feature list template (#133)
  CHANGELOG.md
  README.md
  pixi.toml
  schema/tool-schema.yaml
  scripts/schema_generator.py
  template/{% if list_type == 'tool' %}features.yaml{% endif %}.jinja
  tests/test_schema_generator.py
Due: validate-md-links

Update use-cases against v0.3.0 of the taxonomy
  use-cases/bidding_zone_review/.metadata.yml
  use-cases/bidding_zone_review/features.yaml
  use-cases/integrated_resource_planning/.metadata.yml
  use-cases/integrated_resource_planning/features.yaml
  use-cases/network_development_plan/.metadata.yml
  use-cases/network_development_plan/features.yaml
  use-cases/policy_target_setting/.metadata.yml
  use-cases/policy_target_setting/features.yaml
  use-cases/portfolio_plan/.metadata.yml
  use-cases/portfolio_plan/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Update Calliope list against v0.3.0 of the taxonomy
  tools/calliope/.metadata.yml
  tools/calliope/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Update PyPSA list against v0.3.0 of the taxonomy
  tools/pypsa/.metadata.yml
  tools/pypsa/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Update GenX list against v0.3.0 of the taxonomy
  tools/GenX/.metadata.yml
  tools/GenX/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Update OSeMOSYS against v0.3.0 of the taxonomy
  tools/OSeMOSYS/.metadata.yml
  tools/OSeMOSYS/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Update TIMES list against v0.3.0 of the taxonomy
  tools/times/.metadata.yml
  tools/times/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Add initial PLEXOS feature list
  tools/PLEXOS/.metadata.yml
  tools/PLEXOS/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Update line breaks
  tools/PLEXOS/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Update following human review
  tools/calliope/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Update Calliope list against v0.3.0 of the taxonomy (#137)
  tools/calliope/.metadata.yml
  tools/calliope/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Human review of use-case list updates
  use-cases/bidding_zone_review/features.yaml
  use-cases/integrated_resource_planning/features.yaml
  use-cases/network_development_plan/features.yaml
  use-cases/policy_target_setting/features.yaml
  use-cases/portfolio_plan/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Update use-cases against v0.3.0 of the taxonomy (#136)
  use-cases/bidding_zone_review/.metadata.yml
  use-cases/bidding_zone_review/features.yaml
  use-cases/integrated_resource_planning/.metadata.yml
  use-cases/integrated_resource_planning/features.yaml
  use-cases/network_development_plan/.metadata.yml
  use-cases/network_development_plan/features.yaml
  use-cases/policy_target_setting/.metadata.yml
  use-cases/policy_target_setting/features.yaml
  use-cases/portfolio_plan/.metadata.yml
  use-cases/portfolio_plan/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Support recursive taxonomy in dashboard
  website/public/data/features.json
  website/scripts/generate-data.mjs
  website/src/components/status-cells.tsx
  website/src/components/table.tsx
  website/src/components/ui.tsx
  website/src/data/coverage.ts
  website/src/data/custom-use-case.ts
  website/src/data/types.ts
  website/src/lib/dashboard-utils.ts
  website/src/routes/builder.tsx
  website/src/routes/tools.tsx
  website/src/routes/use-cases.tsx
  website/src/styles.css
  website/tests/coverage.test.ts
Due: none

Contain drawer scroll events
  website/src/components/status-cells.tsx
  website/src/routes/use-cases.tsx
  website/src/styles.css
Due: none

Refine homepage benchmark actions
  website/src/routes/index.tsx
  website/src/styles.css
Due: none

Refine homepage and about dark styles
  website/src/routes/about.tsx
  website/src/styles.css
Due: none

Add resizable feature column
  website/src/components/page-shell.tsx
  website/src/components/table.tsx
  website/src/styles.css
Due: none

Add taxonomy version fallback
  website/src/components/dashboard-layout.tsx
Due: none

Allow wider ecosystem projects to contribute to `y` for features
  tools/OSeMOSYS/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Update OSeMOSYS against v0.3.0 of the taxonomy (#138)
  tools/OSeMOSYS/.metadata.yml
  tools/OSeMOSYS/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Add initial attempt at mapping PLEXOS features (#140)
  tools/PLEXOS/.metadata.yml
  tools/PLEXOS/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

chore: Update CODEOWNERS from tool metadata
  .github/CODEOWNERS
Due: none

Respond to review
  tools/pypsa/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Update comment line breaks
  tools/pypsa/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Update PyPSA list against v0.3.0 of the taxonomy (#135)
  tools/pypsa/.metadata.yml
  tools/pypsa/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Update GenX list against v0.3.0 of the taxonomy (#134)
  tools/GenX/.metadata.yml
  tools/GenX/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Update TIMES list against v0.3.0 of the taxonomy (#139)
  tools/times/.metadata.yml
  tools/times/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Fix merge issues
  .github/workflows/run-tests.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  features.yaml
  pixi.lock
  pixi.toml
  schema/features.yaml
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
  scripts/schema_generator.py
  template/{% if list_type == 'tool' %}features.yaml{% endif %}.jinja
  template/{% if list_type == 'use-case' %}features.yaml{% endif %}.jinja
  tests/test_schema_generator.py
  tools/OSeMOSYS/features.yaml
  tools/calliope/.metadata.yml
  tools/calliope/features.yaml
  tools/times/features.yaml
  use-cases/bidding_zone_review/.metadata.yml
  use-cases/bidding_zone_review/features.yaml
  use-cases/integrated_resource_planning/.metadata.yml
  use-cases/integrated_resource_planning/features.yaml
  use-cases/network_development_plan/.metadata.yml
  use-cases/network_development_plan/features.yaml
  use-cases/policy_target_setting/.metadata.yml
  use-cases/policy_target_setting/features.yaml
  use-cases/portfolio_plan/.metadata.yml
  use-cases/portfolio_plan/features.yaml
  website/public/data/features.json
  website/scripts/generate-data.mjs
  website/tests/coverage.test.ts
Due: validate-yaml-schemas, validate-md-links, validate-yaml-links

Minor adjustments
  GOVERNANCE.md
  README.md
  tools/PLEXOS/.metadata.yml
  tools/calliope/.metadata.yml
  tools/pypsa/.metadata.yml
  tools/times/.metadata.yml
  website/public/data/features.json
  website/src/components/dashboard-layout.tsx
  website/src/components/ui.tsx
  website/src/routes/__root.tsx
  website/src/routes/about.tsx
  website/src/routes/index.tsx
  website/src/routes/tools.tsx
  website/src/routes/use-cases.tsx
Due: validate-md-links, validate-yaml-links

Redesign dashboard homepage and taxonomy views (#142)
  .pre-commit-config.yaml
  GOVERNANCE.md
  README.md
  tools/PLEXOS/.metadata.yml
  tools/calliope/.metadata.yml
  tools/pypsa/.metadata.yml
  tools/times/.metadata.yml
  website/public/data/features.json
  website/scripts/export-static.mjs
  website/scripts/generate-data.mjs
  website/src/components/dashboard-layout.tsx
  website/src/components/page-shell.tsx
  website/src/components/status-cells.tsx
  website/src/components/table.tsx
  website/src/components/ui.tsx
  website/src/data/coverage.ts
  website/src/data/custom-use-case.ts
  website/src/data/types.ts
  website/src/lib/dashboard-utils.ts
  website/src/routeTree.gen.ts
  website/src/routes/__root.tsx
  website/src/routes/about.tsx
  website/src/routes/builder.tsx
  website/src/routes/index.tsx
  website/src/routes/tools.tsx
  website/src/routes/use-cases.tsx
  website/src/styles.css
  website/tests/coverage.test.ts
Due: validate-md-links, validate-yaml-links

Add workflow to deploy website to github pages on main
  .github/workflows/deploy-website.yml
  website/public/data/features.json
Due: none

Add workflow to deploy website to github pages on main (#144)
  .github/workflows/deploy-website.yml
  website/public/data/features.json
Due: none

Correct PyPSA feature list after assessment against v1.3.0
  tools/pypsa/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

add fabian to authors
  AUTHORS.md
Due: validate-md-links

Add changelog entry for PyPSA list re-assessment
  CHANGELOG.md
Due: validate-md-links
