Repository open-energy-transition/openmod-features: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-yaml-schemas, validate-md-links, validate-yaml-links

validate-yaml-schemas:
  name: Validate YAML schemas
  entry: pixi run python .pre-commit-hooks/validate-yaml-schemas.py
  language: system
  pass_filenames: true

validate-md-links:
  name: Validate links in markdown files
  entry: pixi run lychee --verbose
  language: system
  pass_filenames: true

validate-yaml-links:
  name: Validate links in YAML feature files
  entry: pixi run lychee --verbose
  language: system
  pass_filenames: true

Correct PyPSA feature list after assessment against v1.3.0 (#145)
  AUTHORS.md
  CHANGELOG.md
  tools/pypsa/features.yaml
Due: validate-yaml-schemas, validate-md-links, validate-yaml-links

Limit Use-Case Fit to one selected tool at a time
  website/src/components/table.tsx
  website/src/routes/use-cases.tsx
Due: none

Add open_source question to tool copier template
  CHANGELOG.md
  README.md
  copier.yml
  tests/test_copier_template.py
  tools/GenX/.metadata.yml
  tools/OSeMOSYS/.metadata.yml
  tools/PLEXOS/.metadata.yml
  tools/calliope/.metadata.yml
  tools/pypsa/.metadata.yml
  tools/times/.metadata.yml
Due: validate-md-links, validate-yaml-links

Use a single-select dropdown for the Use-Case Fit tool picker
  website/src/components/table.tsx
Due: none

Add tool type and status breakdown data for the dashboard
  website/public/data/features.json
  website/scripts/generate-data.mjs
  website/src/data/coverage.ts
  website/src/data/types.ts
  website/src/lib/chart-utils.ts
  website/src/routes/index.tsx
  website/tests/coverage.test.ts
Due: none

Add slim dashboard shell and reusable chart components
  website/src/components/charts/chart-card.tsx
  website/src/components/charts/column-chart.tsx
  website/src/components/charts/heatmap.tsx
  website/src/components/charts/scatter-chart.tsx
  website/src/components/dashboard-layout.tsx
  website/src/components/ui.tsx
  website/src/lib/chart-utils.ts
  website/src/routes/index.tsx
  website/src/styles.css
  website/tests/chart-utils.test.ts
Due: none

Name the combined use case "All use cases"
  website/src/data/coverage.ts
Due: none

Use value-neutral blue and plum for open-source and proprietary tools
  website/src/styles.css
Due: none

Regenerate dashboard data with tool types
  website/public/data/features.json
Due: none

Merge feature coverage views and tidy landing page wording
  website/src/components/charts/column-chart.tsx
  website/src/components/home/home-data.ts
  website/src/components/home/overview.tsx
  website/src/components/home/section-nav.tsx
  website/src/components/home/sections.tsx
  website/src/styles.css
Due: none

Redesign dashboard landing page around benchmark sections
  website/src/components/charts/scatter-chart.tsx
  website/src/components/home/home-data.ts
  website/src/components/home/overview.tsx
  website/src/components/home/sections.tsx
  website/src/components/home/shared.tsx
  website/src/components/table.tsx
  website/src/lib/chart-utils.ts
  website/src/routes/index.tsx
  website/src/routes/tools.tsx
  website/src/styles.css
  website/tests/chart-utils.test.ts
Due: none

Add sidebar table of contents with section colour squares
  website/src/components/home/overview.tsx
  website/src/components/home/section-nav.tsx
  website/src/components/home/sections.tsx
  website/src/components/home/shared.tsx
  website/src/routes/index.tsx
  website/src/styles.css
Due: none

Shade in-development features by tool type and restore fit matrix beside chart
  website/src/components/charts/chart-card.tsx
  website/src/components/home/sections.tsx
  website/src/styles.css
Due: none

Feature/dashboard shell charts (#146)
  website/src/components/charts/chart-card.tsx
  website/src/components/charts/column-chart.tsx
  website/src/components/charts/heatmap.tsx
  website/src/components/charts/scatter-chart.tsx
  website/src/components/dashboard-layout.tsx
  website/src/components/ui.tsx
  website/src/lib/chart-utils.ts
  website/src/routes/index.tsx
  website/src/styles.css
  website/tests/chart-utils.test.ts
Due: none

Feature/dashboard landing data (#147)
  website/public/data/features.json
  website/scripts/generate-data.mjs
  website/src/data/coverage.ts
  website/src/data/types.ts
  website/src/lib/chart-utils.ts
  website/src/routes/index.tsx
  website/tests/coverage.test.ts
Due: none

Feature/dashboard landing page (#148)
  website/src/components/charts/chart-card.tsx
  website/src/components/charts/column-chart.tsx
  website/src/components/charts/scatter-chart.tsx
  website/src/components/home/home-data.ts
  website/src/components/home/overview.tsx
  website/src/components/home/section-nav.tsx
  website/src/components/home/sections.tsx
  website/src/components/home/shared.tsx
  website/src/components/table.tsx
  website/src/lib/chart-utils.ts
  website/src/routes/index.tsx
  website/src/routes/tools.tsx
  website/src/styles.css
  website/tests/chart-utils.test.ts
Due: none

Add a favicon matching the top-bar wordmark mark
  REUSE.toml
  website/public/apple-touch-icon.png
  website/public/favicon-32.png
  website/public/favicon.svg
  website/src/routes/__root.tsx
Due: none

Drop the "Higher is better" chart subtitle
  website/src/components/charts/chart-card.tsx
  website/src/components/home/overview.tsx
  website/src/components/home/sections.tsx
Due: none

Minor about section text update
  website/src/routes/about.tsx
Due: none

Update pypsa gui ref; update contributing guidelines for companion tools
  CHANGELOG.md
  CONTRIBUTING.md
  tools/pypsa/features.yaml
Due: validate-yaml-schemas, validate-md-links, validate-yaml-links

Feature/use case fit single tool (#149)
  website/src/components/table.tsx
  website/src/routes/use-cases.tsx
Due: none

Add a favicon matching the top-bar wordmark mark (#150)
  REUSE.toml
  website/public/apple-touch-icon.png
  website/public/favicon-32.png
  website/public/favicon.svg
  website/src/routes/__root.tsx
Due: none

Drop the "Higher is better" chart subtitle (#151)
  website/src/components/charts/chart-card.tsx
  website/src/components/home/overview.tsx
  website/src/components/home/sections.tsx
Due: none

Minor about section text update (#152)
  website/src/routes/about.tsx
Due: none

Update pypsa gui ref; update contributing guidelines for companion tools (#153)
  CHANGELOG.md
  CONTRIBUTING.md
  tools/pypsa/features.yaml
Due: validate-yaml-schemas, validate-md-links, validate-yaml-links

Label feature coverage columns by everything they stack
  website/src/components/home/sections.tsx
Due: none

Feature/coverage all statuses (#154)
  website/src/components/home/sections.tsx
Due: none

Add NOSTES tool feature list
  tools/nostes/.metadata.yml
  tools/nostes/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Add ASSUME tool feature list
  tools/assume/.metadata.yml
  tools/assume/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Ignore GitLab group name esy in codespell
  .pre-commit-config.yaml
Due: none

Add AMIRIS tool feature list
  tools/amiris/.metadata.yml
  tools/amiris/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Add funding and affiliation information
  website/public/data/features.json
  website/src/components/dashboard-layout.tsx
Due: none

Add funding and affiliation information (#161)
  website/public/data/features.json
  website/src/components/dashboard-layout.tsx
Due: none

Add agent prompting support.
  .claude/CLAUDE.md
  AGENTS.md
  AGENT_PROMPTING.md
  README.md
Due: validate-md-links

Add agent prompting support. (#162)
  .claude/CLAUDE.md
  AGENTS.md
  AGENT_PROMPTING.md
  README.md
Due: validate-md-links

Path conditions:
  validate-yaml-schemas: any of: ^(tools|use-cases)/.+/features\.yaml$
  validate-md-links: any of: \.md$
  validate-yaml-links: any of: ^(tools|use-cases)/.+/(features.yaml|.metadata.yml)$
