Repository open-energy-transition/openmod-features: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-yaml-schemas, validate-md-links, validate-yaml-links

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: openmod-features contributors
#
# SPDX-License-Identifier: CC0-1.0

default_language_version:
  python: python3

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [
          "--exclude-file=pixi.lock",
          "--skip=user_analysis/config/*.yaml",
          "--skip=inventory/*.yaml",
          "--skip=*.csv"
        ]

  - repo: https://github.com/fsfe/reuse-tool
    rev: v6.1.2
    hooks:
      - id: reuse-lint-file

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Check for debugger imports and py37+ breakpoint() calls
      - id: debug-statements
      - id: check-yaml
        args: [--unsafe]
      - id: check-merge-conflict
      - id: check-illegal-windows-names
      - id: check-added-large-files
        args: [--enforce-all --maxkb=1000]
      - id: trailing-whitespace
        exclude: "^tools/.+/(features.yaml|.metadata.yml)$"
      - id: end-of-file-fixer
        exclude: "^tools/.+/(features.yaml|.metadata.yml)$"

  - repo: local
    hooks:
      - id: validate-yaml-schemas
        name: Validate YAML schemas
        entry: pixi run python .pre-commit-hooks/validate-yaml-schemas.py
        language: system
        files: ^(tools|use-cases)/.+/features\.yaml$
        pass_filenames: true
      - id: validate-md-links
        name: Validate links in markdown files
        entry: pixi run lychee --verbose
        language: system
        files: \.md$
        pass_filenames: true
      - id: validate-yaml-links
        name: Validate links in YAML feature files
        entry: pixi run lychee --verbose
        language: system
        files: ^(tools|use-cases)/.+/(features.yaml|.metadata.yml)$
        pass_filenames: true

Update stockpiling feature description
  CHANGELOG.md
  schema/features.yaml
Due: validate-md-links

Make description more concise
  schema/features.yaml
Due: none

Update PR template
  .github/pull_request_template.md
  CHANGELOG.md
Due: validate-md-links

Minor clean-up to align with OEO wording
  schema/features.yaml
Due: none

pre-commits
  schema/features.yaml
  schema/schema_generator.py
Due: none

add initial baseline category
  schema/features.yaml
Due: none

add CHANGELOG
  CHANGELOG.md
Due: validate-md-links

Update stockpiling feature description (#60)
  CHANGELOG.md
  schema/features.yaml
Due: validate-md-links

Update PR template (#61)
  .github/pull_request_template.md
  CHANGELOG.md
Due: validate-md-links

Add Bryn's suggestion
  schema/features.yaml
  schema/schema_generator.py
Due: none

Add 'baseline' to differentiate between fundamental and advance feature (#62)
  CHANGELOG.md
  schema/features.yaml
  schema/schema_generator.py
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
Due: validate-md-links

Claude support on description cleanup
  schema/features.yaml
Due: none

Update features.yaml
  tools/times/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Implement taxonomy overhaul in one go.
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  pixi.lock
  schema/features.yaml
  schema/schema_generator.py
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
  template/{% if list_type == 'tool' %}features.yaml{% endif %}.jinja
  template/{% if list_type == 'use-case' %}features.yaml{% endif %}.jinja
  tests/test_copier_template.py
Due: validate-md-links

adjust URLs
  schema/features.yaml
  tools/calliope/features.yaml
  tools/pypsa/features.yaml
Due: validate-yaml-schemas, validate-yaml-links

Updates following review
  schema/features.yaml
Due: none

Add simple pipeline physics features; update other features to recognise pipelines
  schema/features.yaml
Due: none

Update to feature slices
  CONTRIBUTING.md
  schema/features.yaml
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
  template/{% if list_type == 'tool' %}features.yaml{% endif %}.jinja
  template/{% if list_type == 'use-case' %}features.yaml{% endif %}.jinja
Due: validate-md-links

Update schema generator
  schema/schema_generator.py
  tests/test_schema_generator.py
Due: none

Feat/feature slices (#116)
  CONTRIBUTING.md
  schema/features.yaml
  schema/schema_generator.py
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
  template/{% if list_type == 'tool' %}features.yaml{% endif %}.jinja
  template/{% if list_type == 'use-case' %}features.yaml{% endif %}.jinja
  tests/test_schema_generator.py
Due: validate-md-links

Use feature nesting
  CHANGELOG.md
  CONTRIBUTING.md
  schema/features.yaml
  schema/schema_generator.py
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
  template/{% if list_type == 'tool' %}features.yaml{% endif %}.jinja
  template/{% if list_type == 'use-case' %}features.yaml{% endif %}.jinja
  tests/test_copier_template.py
  tests/test_schema_generator.py
Due: validate-md-links

Remove some unnecessary nesting
  schema/features.yaml
Due: none

Add features following additional tool review
  CHANGELOG.md
  CONTRIBUTING.md
  schema/features.yaml
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
  template/{% if list_type == 'tool' %}features.yaml{% endif %}.jinja
  template/{% if list_type == 'use-case' %}features.yaml{% endif %}.jinja
Due: validate-md-links

Restructure constraints; rename network feature groups
  CHANGELOG.md
  CONTRIBUTING.md
  schema/features.yaml
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
  template/{% if list_type == 'tool' %}features.yaml{% endif %}.jinja
  template/{% if list_type == 'use-case' %}features.yaml{% endif %}.jinja
  tests/test_schema_generator.py
Due: validate-md-links

Feat/feature sweep (#118)
  CHANGELOG.md
  CONTRIBUTING.md
  schema/features.yaml
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
  template/{% if list_type == 'tool' %}features.yaml{% endif %}.jinja
  template/{% if list_type == 'use-case' %}features.yaml{% endif %}.jinja
Due: validate-md-links

Restructure CHANGELOG; move characteristics to constraints
  CHANGELOG.md
  schema/features.yaml
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
Due: validate-md-links

Add conversion nesting
  CHANGELOG.md
  schema/features.yaml
  schema/tool-schema.yaml
  schema/use-case-schema.yaml
  template/{% if list_type == 'tool' %}features.yaml{% endif %}.jinja
  template/{% if list_type == 'use-case' %}features.yaml{% endif %}.jinja
  tests/test_copier_template.py
Due: validate-md-links

Fix tests
  tests/test_schema_generator.py
Due: none

Refine website custom use case flow
  website/public/data/features.json
  website/src/components/dashboard-layout.tsx
  website/src/components/page-shell.tsx
  website/src/components/table.tsx
  website/src/data/custom-use-case.ts
  website/src/routeTree.gen.ts
  website/src/routes/builder.tsx
  website/src/routes/tools.tsx
  website/src/routes/use-cases.tsx
  website/tests/coverage.test.ts
Due: none

Polish website controls
  website/src/components/dashboard-layout.tsx
  website/src/components/table.tsx
  website/src/routes/tools.tsx
  website/src/routes/use-cases.tsx
  website/src/styles.css
Due: none

Enhance website theme system
  website/public/data/features.json
  website/src/components/dashboard-layout.tsx
  website/src/components/page-shell.tsx
  website/src/components/status-cells.tsx
  website/src/components/table.tsx
  website/src/components/ui.tsx
  website/src/routes/builder.tsx
  website/src/routes/index.tsx
  website/src/routes/tools.tsx
  website/src/routes/use-cases.tsx
  website/src/styles.css
Due: none

Add source reference previews
  website/public/data/features.json
  website/src/components/status-cells.tsx
Due: none

Add website dashboard
  .gitignore
  website/package.json
  website/pnpm-lock.yaml
  website/pnpm-workspace.yaml
  website/public/data/features.json
  website/scripts/generate-data.mjs
  website/src/components/dashboard-layout.tsx
  website/src/components/page-shell.tsx
  website/src/components/status-cells.tsx
  website/src/components/table.tsx
  website/src/components/ui.tsx
  website/src/data/coverage.ts
  website/src/data/types.ts
  website/src/data/useDashboardData.ts
  website/src/routeTree.gen.ts
  website/src/router.tsx
  website/src/routes/__root.tsx
  website/src/routes/index.tsx
  website/src/routes/tools.tsx
  website/src/routes/use-cases.tsx
  website/src/styles.css
  website/tests/coverage.test.ts
  website/tsconfig.json
  website/vite.config.ts
  website/vitest.config.ts
Due: none

Refine website overview dashboard
  website/public/data/features.json
  website/src/routes/index.tsx
Due: none

Refine dashboard help affordances
  website/src/components/dashboard-layout.tsx
  website/src/routes/tools.tsx
  website/src/routes/use-cases.tsx
Due: none

Add use-case assumptions drawer
  website/package.json
  website/src/components/table.tsx
  website/src/routes/tools.tsx
  website/src/routes/use-cases.tsx
  website/src/styles.css
Due: none

Make dashboard drawers non-modal
  website/src/components/status-cells.tsx
  website/src/routes/use-cases.tsx
Due: none

Add Cloudflare Pages deployment flow
  website/CLOUDFLARE.md
  website/package.json
  website/public/_headers
  website/scripts/export-static.mjs
  website/src/data/useDashboardData.ts
  website/vite.config.ts
  website/wrangler.jsonc
Due: validate-md-links

Flatten remaining dashboard pills
  website/src/components/dashboard-layout.tsx
  website/src/routes/builder.tsx
  website/src/routes/index.tsx
Due: none

Refine dashboard brand and active states
  website/src/components/ui.tsx
  website/src/routes/builder.tsx
  website/src/styles.css
Due: none
